ввввв@if@if (Requesвt.IsAuthenticated) {
    <text>в
        Hello, @Html.ActionLink(User.Ideввntity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
ывавы        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
     авы       @Html.AntiForgeryToken()в
            <a href="javascript:document.geввввввввввввввввввввввtElementById('logoutForm').submit()">Log off</a>
        ааааааааааааааааааааааааааааааааааа}
    </teаываывxt>
} else {
  авыыыыыыыыыыыыыыыыыыыыыыыыыы  <uыыыыыыыыыыыыыыыыыыыll>
        ввввввввввввввв<li>@Html.ActавыionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
