@model ICollection<AuthenticationClientData>
sf
@isdf (Model.Count == 0)
{fsd
    f<div class="message-info">
        <p>There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=252166">this article</a>sdsfdsdsd
        for details on setting up this ASP.NET application to support logging in via external services.</p>
    </div>sdf
}sdfsd
elseasda sas
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AnfdsftifFsdfsdorgeryToken()
    <fieldset idsds="socialLoginList">sdfsdf
        <legendf>Ldfog in using another service</legend>
        <p>sdsdfsdfs
        @forefsdfachd (AuthenticationClientData p in Model)dfsdf
        {
            <button type="submit" name="provider" value="@p.AuthdddddddddddddddddddddddddddddenticationClient.ProviderName" title="Log in using your @p.DisplayName account">@p.DisplayName</button>
        }
        </p>
    </fieldset>
    }
}


ыфвфывыфвф