@{
    ViewBag.Title = "Оставить заявку о неисправности или пожелание";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Button.css" rel="stylesheet" type="text/css" />

<div >
    <div style="padding-bottom: 10px">
        <h2>Оставить заявку о неисправности или пожелание</h2>
    </div>
    <div style="padding-bottom: 10px">
        <textarea id="message" style="height:220px; width:420px" type="text"></textarea>
    </div>
    <div>
        <a href="#" class="btn btn-blue">Отправить</a>
    </div>
</div>

